* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
p {
  width: fit-content;
  font-size: 1.4rem;
  max-width: 850px;
  /* max-width: 415px; */
}
header p {
  max-width: 450px;
}
header {
  border-bottom: 8px solid #999999;
}
strong {
  color: #009966;
}
main {
  margin: 0 auto;
  padding: 4rem;
  display: block;
  background-color: grey;
}

/* Add styles here! */
.max-width-wrapper {
  min-width: 100%;
  box-sizing: content-box;
}
.intro-chunk {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: block;
  padding-left: 1.5em;
  padding-top: 7em;
  padding-bottom: 10em;
}
.title {
  margin-bottom: 1em;
}

.card {
  max-width: 850px;
  /* width: auto; */
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1.5rem 1.5rem;

  border-bottom: 8px solid #999999;
}

.indented-heading {
  width: fit-content;
  margin-top: 0.5em;
  margin-left: -2em;
  padding: 1em 2em;
  background-color: gold;
  border-bottom: 8px solid goldenrod;
}
